{
  "globals": {
    "Stats": true,
    "dat": true,
    "module": true,
    "test": true,
    "expect": true,
    "ga": true
  },
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "comma-dangle" : 0,
    "no-console": 1,
    "no-param-reassign": ["error", { "props": false }],
    "max-len": ["error", 80]
  }
}