@import '../_scss/variables';
@import '../_scss/mixins';

// Mobile first: default style is for the smallest
// device viewport; iPhone 5, 320px x 568px.

// Generic style.
body,
input,
button {
  font-family: 'Handlee', cursive;
}

body {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  background-color: $white;
  color: $black;
}

input,
button {
  padding: 0 6px;
}

// Note: the only h1 is the logo.
h1 {
  margin: 0 6px 0 0;
  line-height: 49px;
  font-size: 16px;
  font-weight: 400;
}

li {
  list-style-type: none;
}

// Canvas style: layered game area below the UI components. 

.canvas {
  position: fixed;
  top: 49px;
}

.canvas-world {
  z-index: 1;
}

.canvas-corpses {
  z-index: 2;
  opacity: .25;
}

.canvas-mobs {
  z-index: 3;
}

// Style shared by several UI components.

.header,
.main-controls,
.scrollable-window {
  margin: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 4;
}

.main-controls,
.scrollable-window {
  padding: .625em;
}

// Header: top of the screen, display logo and
// information about the game.

.header {
  padding: 0;
  background-color: $transparent-75;
  color: $white;

  li {
    float: left;
    margin-left: .5em;
    text-align: center;
    line-height: 3em;
  }
}

.big-number {
  padding: 0 .25em;
  border-radius: .25em;
  font-size: 1.25em;
  vertical-align: middle;
}

.total-mobs {
  color: $green-d;
  background-color: $green-l;
}

.total-corpses {
  color: $blue-d;
  background-color: $blue-l;
}

// Main controls: how many mobs to pop and which category.

.main-controls {
  bottom: 114px;
  background-color: $transparent-75;
  text-align: right;
}

.number-mobs-to-add {
  line-height: 29px;
  background-color: $white;
  color: $black;
  height: 30px;
}

.number-mobs-to-add,
.pop-mob {
  margin: 0 .5em 0 0;
  cursor: pointer;
  min-width: $min-size;
  border-radius: .5em;
  border: solid 1px;
}

.pop-mob {
  -webkit-appearance: none; // Needs to stay first line of this style.
  font-weight: 600;
  text-transform: uppercase;
  height: 32px;
  line-height: 32px;
}

.pop-mob-last {
  margin-right: 0;
}

.pop-orc {
  @include pop-mob($pop-orc-l, $pop-orc-m, $pop-orc-d);
}

.pop-goblin {
  @include pop-mob($pop-goblin-l, $pop-goblin-m, $pop-goblin-d);
}

.pop-cat {
  @include pop-mob($pop-cat-l, $pop-cat-m, $pop-cat-d);
}

.pop-human {
  @include pop-mob($pop-human-l, $pop-human-m, $pop-human-d);
}

.pop-faery {
  @include pop-mob($pop-faery-l, $pop-faery-m, $pop-faery-d);
}

// Scrollable window: log of game events.
.scrollable-window {
  background-color: $transparent-20;
  height: 100px;
  overflow: auto;
  bottom: 0;
  font-family: verdana, sans-serif;
  font-size: 11px;
  line-height: 15px;

  li:first-letter {
    text-transform: uppercase;
  }
}

// Breakpoint: anything greater than the smallest
// supported device; iPhone 5, 320px wide.
@media (min-width: 321px) {
  h1 {
    font-size: 24px;
  }

  .main-controls,
  .scrollable-window {
    left: initial;
  }

  .main-controls {
    width: 314px;
  }

  .scrollable-window {
    width: 320px;
  }
}
