// Semi transparent backgrounds (based on $black).
$transparent-10: rgba(51, 23, 13, .1);
$transparent-75: rgba(51, 23, 13, .75);

// Colour scheme: http://www.colorcombos.com/color-schemes/189/ColorCombo189.html
$gold-m: #FEBF10;  // gold medium.
$gold-d: #C87533;  // gold dark
$green-m: #F3F3CC;  // green medium.
$green-d: #9EB847;  // green dark.
$white: #F9F7ED;
$black: #33170D;  // rgb 51, 23, 13

// Dimensions.
$min-size: 44px;

// Main style.
body {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
  background-color: $white;
  color: $black;
}

#main-controls {
  position: fixed;
  bottom: 120px;
  right: 0;
  background-color: $transparent-75;
  margin: 0;
  padding: .625em;
}

.big-number {
  padding: 0 .5em;
  border-radius: .25em;
  font-size: 1.5em;
  vertical-align: middle;
  border: solid 1px;
}

#total-mobs {
  background-color: $green-m;
  color: $green-d;
}

#total-corpses {
  background-color: $gold-m;
  color: $gold-d;
}

#number-mobs-to-add,
#mob-category {
  margin: 0 .5em 0 0;
}

li {
  list-style-type: none;
}

input,
select {
  cursor: pointer;
  min-width: $min-size;
}

.scrollable-window {
  background-color: $transparent-10;
  margin: 0;
  padding: .625em;
  height: 100px;
  overflow: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px;
}

.center {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.horizontal {
  margin: 0;
  padding: 0;

  li {
    float: left;
    margin-left: .5em;
    text-align: center;
    line-height: 3em;
  }
}