// Colours.
$transparent-10: rgba(0,0,0,.1);
$transparent-75: rgba(0,0,0,.75);
$gold-m: #fc0;  // gold medium.
$gold-d: #960;  // gold dark

// Main style.
body {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}

#main-controls {
  position: absolute;
  bottom: 120px;
  right: 0;
  background-color: $transparent-75;
  margin: 0;
  padding: .625em;
}

.big-number {
  background-color: $gold-m;
  padding: 0 .5em;
  border-radius: .25em;
  font-size: 1.5em;
  vertical-align: middle;
  color: $gold-d;
}

#number-mobs-to-add,
#mob-category {
  margin: 0 .5em 0 0;
}

#number-mobs-to-add {
  width: 50px;
}

li {
  list-style-type: none;
}

input[type=submit],
select {
  cursor: pointer;
}

input[type=submit] {
  min-width: 44px;
}

.scrollable-window {
  background-color: $transparent-10;
  margin: 0;
  padding: .625em;
  height: 100px;
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: solid 1px;
}

.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.horizontal {
  margin: 0;
  padding: 0;

  li {
    float: left;
    margin-left: .5em;
    text-align: center;
    line-height: 2em;
  }
}