// Semi transparent backgrounds (based on $black).
$transparent-20: rgba(51, 23, 13, .2);
$transparent-75: rgba(51, 23, 13, .75);

// Colour scheme: http://www.hexcolortool.com/#2cc992
$gold-l: #ffffc5;
$gold-m: #e3b446;
$gold-d: #c99a2c;

$green-l: #c4ffcc;
$green-m: #49b64e;
$green-d: #009701;

$blue-l: #c5ffff;
$blue-m: #46afe3;
$blue-d: #2c95c9;

$red-l: #ffdede;
$red-m: #e34646;
$red-d: #c92c2c;

$purple-l: #ffc5ff;
$purple-m: #9c46e3;
$purple-d: #822cc9;

$pink-l: #ffe4ff;
$pink-m: #f265b0;
$pink-d: #d84b96;

$white: #f9f7ed;
$black: #33170d;  // rgb 51, 23, 13

// Pop mob buttons

// Clickable state background.
$pop-orc-m: $gold-m;
// Hover state background, text color on active and clickable state.
$pop-orc-l: $gold-l;
// Active state background and text color on clickable state.
$pop-orc-d: $gold-d;

$pop-goblin-m: $green-m;
$pop-goblin-l: $green-l;
$pop-goblin-d: $green-d;

$pop-cat-m: $blue-m;
$pop-cat-l: $blue-l;
$pop-cat-d: $blue-d;

$pop-human-m: $pink-m;
$pop-human-l: $pink-l;
$pop-human-d: $pink-d;

$pop-faery-m: $purple-m;
$pop-faery-l: $purple-l;
$pop-faery-d: $purple-d;

// Dimensions.
$min-size: 40px;
